<div class="row col-md-12">
  <div *ngIf="message.length > 0" class="pull-left col-md-6 alert alert-success">
    {{ message }}
  </div>
  <div class="pull-right">
    <div class="pull-left">
        <select #dataview (change)="GetInvetmentProfitData(dataview.value)" class="my-form-control">
          <option value="0">Show All</option>
          <option value="1">Investment</option>
          <option value="2">Profit</option>
        </select>&nbsp;
    </div>
    <div class="pull-right">
        <input [(ngModel)]="searchText" placeholder="Search.." class="form-control col-md-8">
    </div>
  </div>
  <br><br>
  <table class="table table-bordered table-striped col-md-12">
    <th class="hide">ID</th>
    <th class="col-md-1 width-5-percent">Code</th>
    <th class="col-md-2" style="width:28% !important;">
      <div (click)="sortData('name')">
        Name <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
        *ngIf="sortcolumn == 'name'"></span>
      </div>
    </th>
    <th class="col-md-1 width-5-percent">
      <div (click)="sortData('units')">
        Units<span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
        *ngIf="sortcolumn == 'units'"></span>
      </div>
    </th>
    <th class="col-md-1 width-5-percent">Purchase Nav</th>
    <th class="col-md-1" style="width:10% !important;">Purchase Date</th>
    <th class="col-md-1">Cost Value</th>
    <th class="col-md-1 width-5-percent">Current Nav</th>
    <th class="col-md-1">Current Value</th>
    <th class="col-md-1">Profit/Loss</th>
    <th class="col-md-1">Profit/Loss %</th>
    <th class="col-md-1" style="width:10% !important;">Action Buttons</th>

    <tr class="sumrow">
        <td colspan="5" class="text-right">Total</td>
        <td class="text-right">{{ subtotalcost(records | textfilter : { code:searchText, name:searchText, units:searchText, purchasenav:searchText, purchasedate:searchText, currentnav:searchText }) | number:'.2-2' }}</td>
        <td colspan="2" class="text-right">{{ subtotalvalue(records | textfilter : { code:searchText, name:searchText, units:searchText, purchasenav:searchText, purchasedate:searchText, currentnav:searchText }) | number:'.2-2' }}</td>
        <td class="text-right" [class.loss]="(this.totalvalue - this.totalcost) < 0"
                               [class.profit]="(this.totalvalue - this.totalcost) > 0">
              {{ (totalvalue - totalcost) | number:'.2-2'}}</td>
        <td class="text-right" [class.loss]="(((totalvalue - totalcost)/totalcost) * 100) < 0"
                               [class.profit]="(((totalvalue - totalcost)/totalcost) * 100) > 0">
              {{ ((totalvalue - totalcost)/totalcost) * 100 | number:'.2-2'}} % </td>
        <td>
          <button class="btn btn-primary btn-xs glyphicon glyphicon-refresh" title="Refresh All" (click)="RefreshAll()"></button>
          <button md-raised-button class="btn btn-success btn-xs glyphicon glyphicon-plus" title="Open Dialog" (click)="openDialog(dummyrec, 'Add')"></button>
          <button md-raised-button class="btn btn-warning btn-xs glyphicon glyphicon-refresh" title="Show Latest" (click)="openRefreshDialog()"></button>
        </td>
      </tr>
    <tr *ngFor="let recorditem of records | textfilter : { code:searchText, name:searchText, units:searchText, purchasenav:searchText, purchasedate:searchText, currentnav:searchText };"
        [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">
      <!--  };"> -->
      <td class="hide">{{recorditem._id}}</td>
      <td>{{recorditem.code | uppercase}}</td>
      <td>{{recorditem.name | uppercase}}</td>
      <td class="text-right">{{recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.purchasenav | number:'.2-2'}}</td>
      <td>{{recorditem.purchasedate | date:'dd-MMM-yyyy' }}</td>
      <td class="text-right">{{recorditem.purchasenav * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.currentnav | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.currentnav * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right" >{{(recorditem.currentnav - recorditem.purchasenav) * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right" >{{((recorditem.currentnav/recorditem.purchasenav)-1) * 100 | number:'.2-2'}} % </td>
      <td style="padding:8px 0 0 0 !important;"> 
          <button md-raised-button class="btn btn-success btn-xs glyphicon glyphicon-pencil" title="Edit Record" (click)="openDialog(recorditem, 'Edit/Update')"></button>
          <button class="btn btn-primary btn-xs glyphicon glyphicon-refresh" title="Get Latest Data" (click)="GetValue(recorditem)"></button>
          <button class="btn btn-danger btn-xs glyphicon glyphicon-trash" title="Delete Record" (click)="DeleteRecord(recorditem._id)"></button>
          <button md-raised-button class="btn btn-danger btn-xs glyphicon glyphicon-share" title="Sale Mutual Fund" (click)="openDialog(recorditem, 'Sale')"></button>
      </td>
    </tr>
  </table>
</div>

