<div class="row col-md-12">
    
  <div class="pull-right">
      <input [(ngModel)]="searchText" placeholder="Search.." class="form-control">
  </div>
  <br><br>
  <table class="table table-bordered table-striped col-md-12">
    <th class="hide">ID</th>
    <th class="col-md-1">Code</th>
    <th class="col-md-2">Name</th>
    <th class="col-md-1">Units</th>
    <th class="col-md-1">Purchase Nav</th>
    <th class="col-md-1">Purchase Date</th>
    <th class="col-md-1">Cost Value</th>
    <th class="col-md-1">Current Nav</th>
    <th class="col-md-1">Current Value</th>
    <th class="col-md-1">Profit/Loss</th>
    <th class="col-md-1">Profit/Loss %</th>
    <th class="col-md-1">Action Buttons</th>
 
    <tr>
      <td class="hide">{{record._id}}</td>
      <td><input type="text" class="form-control" [(ngModel)]='record.code' placeholder="Code"></td>
      <td>{{record.name}}</td>
      <td><input type="text" class="form-control" [(ngModel)]='record.units' placeholder="Units"></td>
      <td><input type="text" class="form-control" [(ngModel)]='record.purchasenav' placeholder="Purchase NAV"></td>
      <td><input type="date" style="width:100px;" class="form-control" [(ngModel)]="record.purchasedate" placeholder="Purchase Date"></td>
      <td>{{record.purchasenav * record.units}}</td>
      <td>{{record.currentnav}}</td>
      <td>{{record.currentnav * record.units | number:'.2-2'}}</td>
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-success btn-sm glyphicon glyphicon-plus" *ngIf="!editmode" (click)="AddEntry()"></button>
        <button class="btn btn-success btn-xs glyphicon glyphicon-ok" *ngIf="editmode" (click)="UpdateEntry()"></button>
        <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" *ngIf="editmode" (click)="CancelEdit()"></button>
      </td>
    </tr>
    <tr class="sumrow">
        <td colspan="5" class="text-right">Total</td>
        <td>{{  subtotalcost(records | textfilter : { code:searchText, name:searchText, units:searchText, purchasenav:searchText, purchasedate:searchText, currentnav:searchText }) | number:'.2-2' }}</td>
        <!-- <td>{{ totalcost | number:'.2-2'}}</td> -->
        <td colspan="2" class="text-right">{{  subtotalvalue(records | textfilter : { code:searchText, name:searchText, units:searchText, purchasenav:searchText, purchasedate:searchText, currentnav:searchText }) | number:'.2-2' }}</td>
        <!-- <td colspan="2" class="text-right">{{ totalvalue | number:'.2-2'}}</td> -->
        <td [ngClass]="{'loss': (totalvalue - totalcost) < 0, 'profit': (totalvalue - totalcost) > 0}">{{ (totalvalue - totalcost) | number:'.2-2'}}</td>
        <td [ngClass]="{'loss': (((totalvalue - totalcost)/totalcost) * 100) < 0, 'profit': (((totalvalue - totalcost)/totalcost) * 100) > 0}">{{ ((totalvalue - totalcost)/totalcost) * 100 | number:'.2-2'}} % </td>
        <td>
          <button class="btn btn-primary btn-xs glyphicon glyphicon-refresh" title="Refresh All" (click)="RefreshAll()"></button>
        </td>
      </tr>
    <tr *ngFor="let recorditem of records | textfilter : { code:searchText, name:searchText, units:searchText, purchasenav:searchText, purchasedate:searchText, currentnav:searchText };">
      <!--  };"> -->
      <td class="hide">{{recorditem._id}}</td>
      <td>{{recorditem.code}}</td>
      <td>{{recorditem.name}}</td>
      <td>{{recorditem.units | number:'.2-2'}}</td>
      <td>{{recorditem.purchasenav | number:'.2-2'}}</td>
      <td>{{recorditem.purchasedate | date:'dd-MMM-yyyy' }}</td>
      <td>{{recorditem.purchasenav * recorditem.units | number:'.2-2'}}</td>
      <td>{{recorditem.currentnav | number:'.2-2'}}</td>
      <td>{{recorditem.currentnav * recorditem.units | number:'.2-2'}}</td>
      <td [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">{{(recorditem.currentnav - recorditem.purchasenav) * recorditem.units | number:'.2-2'}}</td>
      <td [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">{{((recorditem.currentnav/recorditem.purchasenav)-1) * 100 | number:'.2-2'}} % </td>
      <td style="padding:8px 0 0 0 !important;">
          <button class="btn btn-primary btn-xs glyphicon glyphicon-pencil" title="Edit Record" (click)="EditRecord(recorditem)"></button>
          <button class="btn btn-primary btn-xs glyphicon glyphicon-refresh" title="Get Latest Data" (click)="GetValue(recorditem)"></button>
          <button class="btn btn-primary btn-xs glyphicon glyphicon-trash" title="Delete Record" (click)="DeleteRecord(recorditem._id)"></button>
      </td>
    </tr>
  </table>
</div>

