.mat-tab-link-active,
.mat-tab-label-active {
    background-color: #5EADB0 !important;
    color: black !important;
    border: 1px solid #6B7F7F;
    font-weight: bold;
    background-image: linear-gradient(red, coral, brown) !important;
}
.mat-tab-link,
.mat-tab-label {
    line-height: 30px !important;
    height: 30px !important;
    min-width: 100px !important;
    border: 1px solid #7e7e7e;
    background-color: lightslategray;
    color: white;


    border-radius: 15px;
    margin-right: 3px;
    margin-top: 7px;
    background-image: linear-gradient(lightgray, gray, brown);
}
.tabContentContainer {
    border: 1px solid #aaaaaa;
    background: #ffffff 50% 50% repeat-x;
}

.mat-tab-header, .mat-tab-nav-bar{
    border-bottom: 0px; 
    margin: -18px 0 4px 0;
}

.mat-tab-links{
    background-color: green;
}