<div class="row col-md-12">
  <table class="table table-bordered table-striped col-md-12">
    <th class="hide">ID</th>
    <th class="hide col-md-1">Code</th>
    <th class="col-md-5">Name</th>
    <th class="col-md-1">Units</th>
    <th class="col-md-2">Purchase Nav/Date/Value</th>
    <th class="col-md-2">Sale Nav/Date/Value</th>
    <th class="col-md-2">Profit or Loss/ Profit or Loss %</th>
    <tr class="sumrow">
      <td colspan="2" class="text-right">Total</td>
      <td class="text-right">{{ totalcost | number:'.2-2' }}</td>
      <td class="text-right">{{ totalsalevalue | number:'.2-2' }}</td>
      <td class="text-right" [class.loss]="(this.totalsalevalue - this.totalcost) < 0"
                              [class.profit]="(this.totalsalevalue - this.totalcost) > 0">
            {{ (totalsalevalue - totalcost) | number:'.2-2'}} ({{ ((totalsalevalue - totalcost)/totalcost) * 100 | number:'2.2-2'}}%)</td>
    </tr>
    <tr *ngFor="let recorditem of soldMFList">
      <td class="hide">{{recorditem._id}}</td>
      <td class="hide">{{recorditem.code}}</td>
      <td>{{recorditem.name}}</td>
      <td class="text-right">{{recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">
        {{recorditem.purchasenav | number:'.2-2'}}<br>{{recorditem.purchasedate | date:'dd-MMM-yyyy' }}<br>{{recorditem.purchasenav * recorditem.units | number:'.2-2'}}
      </td>
      <!-- <td class="text-right">{{recorditem.purchasenav | number:'.2-2'}}</td>
      <td>{{recorditem.purchasedate | date:'dd-MMM-yyyy' }}</td>
      <td class="text-right">{{recorditem.purchasenav * recorditem.units | number:'.2-2'}}</td> -->
      <td class="text-right">{{recorditem.salenav | number:'.2-2'}}<br>{{recorditem.saledate | date:'dd-MMM-yyyy' }}<br>{{recorditem.salenav * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right" [ngClass]="{'loss': ((recorditem.salenav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.salenav - recorditem.purchasenav) * recorditem.units) > 0}">{{(recorditem.salenav - recorditem.purchasenav) * recorditem.units | number:'.2-2'}} ({{((recorditem.salenav/recorditem.purchasenav)-1) * 100 | number:'2.2-2'}}%)</td>
    </tr>
  </table>
</div>

