<div class="row col-md-12">
  <table class="table table-bordered table-striped col-md-12">
    <!-- <th class="col-md-1">Code</th> -->
    <th class="col-md-5">Name</th>
    <th class="col-md-1">Units</th>
    <th class="col-md-1">Purchase Nav</th>
    <th class="col-md-1">Cost Value</th>
    <th class="col-md-1">Current Nav</th>
    <th class="col-md-1">Current Value</th>
    <th class="col-md-1">Profit/Loss</th>
    <th class="col-md-1">Profit/Loss %</th>
 
    <tr class="sumrow">
        <td colspan="3" class="text-right">Total</td>
        <td class="text-right">{{ totalcost | number:'.2-2'}}</td>
        <td colspan="2" class="text-right">{{ totalvalue | number:'.2-2'}}</td>
        <td class="text-right" [ngClass]="{'loss': (totalvalue - totalcost) < 0, 'profit': (totalvalue - totalcost) > 0}">{{ (totalvalue - totalcost) | number:'.2-2'}}</td>
        <td class="text-right" [ngClass]="{'loss': (((totalvalue - totalcost)/totalcost) * 100) < 0, 'profit': (((totalvalue - totalcost)/totalcost) * 100) > 0}">{{ ((totalvalue - totalcost)/totalcost) * 100 | number:'.2-2'}} % </td>
      </tr>
    <tr *ngFor="let recorditem of groupedRecords">
      <!-- <td>{{recorditem.code}}</td> -->
      <td>{{recorditem.name}}</td>
      <td class="text-right">{{recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.purchasenav | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.purchasenav * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.currentnav | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.currentnav * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right" [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">{{(recorditem.currentnav - recorditem.purchasenav) * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right" [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">{{((recorditem.currentnav/recorditem.purchasenav)-1) * 100 | number:'.2-2'}} % </td>
    </tr>
  </table>
</div>

