<div class="row col-md-12">
  <!-- <input type="radio" name="datagroup" checked="true" (click)="selecttype('tabledata')">Table Data
  <input type="radio" name="datagroup" (click)="selecttype('piechart')">Pie Chart
  <input type="radio" name="datagroup" (click)="selecttype('barchart')">Bar Chart -->
  <div>
    <div class="pull-left" style="padding-bottom:5px;font-weight: bold;">Display View: 
      <select #displayview (change)="selecttype(displayview.value)" class="my-form-control">
        <option value="tabledata">Table Data</option>
        <option value="piechart">Pie Chart</option>
        <option value="barchart">Bar Chart</option>
      </select> 
    </div>
    <div *ngIf="viewtype == 'piechart' || viewtype == 'barchart'" style="margin-top:7px;">&nbsp;&nbsp;&nbsp;
      <input type="radio" name="piechart" (click)="selectdata('investment')">Investment
      <input type="radio" name="piechart" (click)="selectdata('profit')"  checked="true">Profit
    </div>
  </div>

  <div *ngIf="viewtype == 'piechart'">
     <chart type="pie" [data]="data" ></chart>
  </div>

  <div *ngIf="viewtype == 'barchart'">
    <chart type="bar" [data]="data" *ngIf="viewtype == 'barchart'"></chart> 
  </div>

  <table *ngIf="viewtype == 'tabledata'" class="table table-bordered table-striped col-md-12">
    <!-- <th class="col-md-1">Code</th> -->
    <th class="col-md-5">
      <div (click)="sortData('name')">
        Name <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
        *ngIf="sortcolumn == 'name'"></span>
      </div>
    </th> 
    <th class="col-md-1">
      <div (click)="sortData('units')">
        Units <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
        *ngIf="sortcolumn == 'units'"></span>
      </div>
    </th>
    <th class="col-md-1">
      <div (click)="sortData('purchasenav')">
          Purchase Nav <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
          *ngIf="sortcolumn == 'purchasenav'"></span>
      </div>
    </th>
    <th class="col-md-1">
      <div (click)="sortData('costvalue')">
          Cost Value <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
          *ngIf="sortcolumn == 'costvalue'"></span>
      </div>
    </th>
    <th class="col-md-1">
      <div (click)="sortData('currentnav')">
          Current Nav <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
          *ngIf="sortcolumn == 'currentnav'"></span>
      </div>
    </th>
    <th class="col-md-1">
      <div (click)="sortData('currentvalue')">
          Current Value <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
          *ngIf="sortcolumn == 'currentvalue'"></span>
      </div>
    </th>
    <th class="col-md-1">
      <div (click)="sortData('profit')">
          Profit/Loss <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
          *ngIf="sortcolumn == 'profit'"></span>
      </div>
    </th>
    <th class="col-md-1">
      <div (click)="sortData('percentage')">
          Profit/Loss % <span class="glyphicon" [class.glyphicon-menu-up] = "toggle" [class.glyphicon-menu-down] = "!toggle"
          *ngIf="sortcolumn == 'percentage'"></span>
      </div>
    </th>
 
    <tr class="sumrow">
        <td>Count of Mutual Funds: {{ groupedRecords.length }}</td>
        <td colspan="2" class="text-right">Total</td>
        <td class="text-right">{{ totalcost | number:'.2-2'}}</td>
        <td colspan="2" class="text-right">{{ totalvalue | number:'.2-2'}}</td>
        <td class="text-right" [ngClass]="{'loss': (totalvalue - totalcost) < 0, 'profit': (totalvalue - totalcost) > 0}">{{ (totalvalue - totalcost) | number:'.2-2'}}</td>
        <td class="text-right" [ngClass]="{'loss': (((totalvalue - totalcost)/totalcost) * 100) < 0, 'profit': (((totalvalue - totalcost)/totalcost) * 100) > 0}">{{ ((totalvalue - totalcost)/totalcost) * 100 | number:'.2-2'}} % </td>
      </tr>
    <tr *ngFor="let recorditem of groupedRecords"
        [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">
      <!-- <td>{{recorditem.code}}</td> -->
      <td>{{recorditem.name}}</td>
      <td class="text-right">{{recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.purchasenav | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.purchasenav * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.currentnav | number:'.2-2'}}</td>
      <td class="text-right">{{recorditem.currentnav * recorditem.units | number:'.2-2'}}</td>
      <!-- <td class="text-right" [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">{{(recorditem.currentnav - recorditem.purchasenav) * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right" [ngClass]="{'loss': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) < 0, 'profit': ((recorditem.currentnav - recorditem.purchasenav) * recorditem.units) > 0}">{{((recorditem.currentnav/recorditem.purchasenav)-1) * 100 | number:'.2-2'}} % </td> -->
      <td class="text-right">{{(recorditem.currentnav - recorditem.purchasenav) * recorditem.units | number:'.2-2'}}</td>
      <td class="text-right">{{((recorditem.currentnav/recorditem.purchasenav)-1) * 100 | number:'.2-2'}} % </td>
    
    </tr>
  </table>



</div>

