.searchcomponent{
    border:gray 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.table th{
    border: 1px slategrey solid;
    padding: 3px;
    text-align: center;
}

.tablediv{
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
}