<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="home" routerLinkActive="mat-tab-link-active">Home</a>
  <a mat-tab-link routerLink="savingsaccount" routerLinkActive="mat-tab-link-active">Savings Accounts</a>
  <a mat-tab-link routerLink="fixeddeposit" routerLinkActive="mat-tab-link-active">Fixed Deposits</a>
  <!-- <a mat-tab-link routerLink="recurrentdeposit" routerLinkActive="mat-tab-link-active">Recurrent Deposits</a> -->
  <a mat-tab-link routerLink="epfppf" routerLinkActive="mat-tab-link-active">EPF-PPF</a>
  <!-- <a mat-tab-link routerLink="banksnapshot" routerLinkActive="mat-tab-link-active">Bank Snapshot</a> 
  <a mat-tab-link routerLink="admin" routerLinkActive="mat-tab-link-active">Admin</a>-->
</nav>
<router-outlet></router-outlet>