.loss{
    background-color: red;
}

.profit{
    background-color: green;
}

.sumrow{
    background-color: lightskyblue !important;
    font-size:larger;
}

tr{
    margin-top:10px;
}

.bold-text{
    font-weight:bolder;
    font-size:larger;
}