
.bold-text{
    font-weight:bolder;
    font-size:larger;
    padding: 15px 0 7px 15px;
}

.cover{
    background-image: url('../../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 500px !important;
    background-size: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.charts{
    background-image: linear-gradient(aqua, dodgerblue, darkgray);
    border-radius: 20px 20px 0 0 ;
}
.table th{
    border: 1px slategrey solid;
    padding: 5px;
    text-align: center;
    background-color: darkseagreen;
    background-image: linear-gradient(violet, palevioletred, gray);
    color:white;
    margin-bottom: 10px;
}

.sumrow{
    font-weight:bolder;
    background-color: lightskyblue !important;
    font-size:larger;
    background-image: linear-gradient(aqua, dodgerblue, darkgray);
    border-radius: 20px 20px 0 0 ;
}

.total .profit{
    line-height: normal !important;
}

.total tr td{
    padding: 5px 0 5px 5px;
}

.btnuser{
    display:block !important;
}

.btnsnapshot{
    margin-left:5px !important;
}