<div>
  <div>
    <h4 md-dialog-title >Stocks Maintenance - {{data.mode}}</h4> 
  </div>
  <hr>
  <span class="alert alert-danger col-md-12" *ngIf="f.invalid">Fix highlighted fields to save data.</span>
  <form #f="ngForm">
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-3">Stock Code</div>
        <div class="col-md-9">
          <input type="text" class="form-control" [(ngModel)]='record.code' placeholder="Code" 
            title="Code is required, select one from above autocomplete search box." onkeyup="this.value = this.value.toUpperCase();"
            name="code" required #code="ngModel" [class.invalid]="code.invalid">
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">Name</div>
        <div class="col-md-9">
          <input type="text" class="form-control" [(ngModel)]='record.name' placeholder="Name"
            title="Name is required, select one from above autocomplete search box." onkeyup="this.value = this.value.toUpperCase();"
            name="name" required #name="ngModel" [class.invalid]="name.invalid">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Number of Shares</div>
        <div class="col-md-9">
          <input type="number" class="form-control" [(ngModel)]='record.units' placeholder="Units"
            title="Units is required with value >= 1."
            name="units" required min="1" #units="ngModel" [class.invalid]="units.invalid">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Purchase Value</div>
        <div class="col-md-2">
          <input type="number" class="form-control" [(ngModel)]='record.purchasenav' placeholder="Purchase NAV"
          title="Purchase NAV is required with value >= 1."
          name="purchasenav" required min="1" #purchasenav="ngModel" [class.invalid]="purchasenav.invalid">
        </div>
        <div class="col-md-3">Purchase Date</div>
        <div class="col-md-4">
          <input type="date" style="width:150px;" class="form-control" 
          [ngModel]="record.purchasedate | date:'yyyy-MM-dd'" 
          (ngModelChange)="record.purchasedate = $event" placeholder="Purchase Date"
          name="purchasedate" required #purchasedate="ngModel" [class.invalid]="purchasedate.invalid"
          title="Purchase Date is required.">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">Profit Entry?</div>
        <div class="col-md-2"><input type="checkbox" [(ngModel)]='record.isprofit' name="iprofit"></div>
      </div>

      <div class="row" *ngIf="data.mode == 'Sale'">
        <div class="col-md-3">Sale NAV</div>
        <div class="col-md-2"><input type="number" class="form-control" [(ngModel)]='record.salenav' 
          name="salenav" placeholder="Sale NAV"></div>
        <div class="col-md-3">Sale Date</div>
        <div class="col-md-4"><input type="date" style="width:150px;" class="form-control" 
          [(ngModel)]="record.saledate" 
          name="saledate" placeholder="Sale Date"></div>
      </div>
      <div class="row">
        <div class="col-md-3">Comments</div>
        <div class="col-md-9">
            <textarea rows="4" cols="50" class="form-control" [(ngModel)]='record.comments' 
            name="comments" placeholder="Comments">
                </textarea>
        </div>
      </div>
    
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions class="pull-right">
      <button type="submit" class="btn btn-primary" (click)="onCloseConfirm(f)" md-raised-button>CONFIRM</button>&nbsp;
      <button class="btn btn-danger" md-raised-button (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>
  </form>
</div>