.searchcomponent{
    border:gray 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.tablediv{
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

.alert{
    margin-left: -15px; 
}